body{
    background-image:url(https://t4.ftcdn.net/jpg/03/62/05/31/360_F_362053188_oQ0WRHCFkIY4QlXS1S5d1i9bpYup67ll.jpg);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-size: cover;
    text-align: center;
    color: whitesmoke;
    margin:100px;
    font-weight: bold;
    font-size:20px;
}
h1{
    color:goldenrod;
}
#message-el{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-style: italic;
}
button{
    color:#016f32;
    width:190px;
    background-color:goldenrod ;
    font-size: 20px;
    padding: 4px;
    border: none;
    border-radius: 3px;
    margin:4px;
}